# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/
.env

# Ignore log files
logs/
/.venv
*/__pycache__
/Lib
/Scripts
/pyvenv.cfg
.env
ai-env/
discussions_dataset.csv
*/.env
