langchain
numpy
pandas
slack-sdk 
slack-bolt
pymongo
fastapi
uvicorn
flask
python-dotenv


transformers
accelerate
einops
xformers
bitsandbytes
llama-cpp-python
sentence-transformers

qdrant-client
jq
github
pygithub